@use "../../styles/breakpoints" as bp;
@use "../../styles/colors" as c;
@use "../../styles/index";

.swiper {

  .swiper-container {
    width: 100%;
    height: 806px;
    position: relative;
    @include bp.tablet-view {
      height: 592px;
    }
    @include bp.mobile-view {
      height: 422px;
    }
  }

  .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 806px;
    @include bp.tablet-view {
      height: 592px;
    }
    @include bp.mobile-view {
      height: 422px;
    }
    img{
      width: auto;
      height: auto;
    }

    .text.second {
      max-width: 950px;
      @include bp.tablet-view{
        max-width: 600px;
        width: 100%;
      }
      @include bp.mobile-view{
        max-width: 285px;
        width: 100%;
      }
    }

    .text.third {
      max-width: 1100px;
    }

    .text {
      margin: 150px auto;
      padding-left: 80px;
      max-width: 900px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      color: c.$white-color;
      @include bp.tablet-view {
        max-width: 540px;
        padding-left: 30px;
      }
      @include bp.mobile-view {
        margin: 90px auto;
        max-width: 250px;
        padding-left: 19px;
      }

      h1 {
        text-transform: uppercase;
        font-size: 150px;
        line-height: 155px;
        font-family: "Bebas Neue", sans-serif;
        @include bp.tablet-view {
          font-size: 97px;
          line-height: 96px;
        }
        @include bp.mobile-view {
          font-size: 46px;
          line-height: 56px;
        }
      }

      h2 {
        font-size: 22px;
        font-weight: 300;
        line-height: 40px;
        font-family: "DM Sans", sans-serif;
        @include bp.mobile-view {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .progressbar {
    position: absolute;
    left: 80%;
    bottom: 10%;
    max-width: 230px;
    width: 100%;
    z-index: 1;
    @include bp.tablet-view {
      left: 67%;
    }
    @include bp.mobile-view {
      left: 19px;
      bottom: 4%;
    }

    .progress-container {
      display: flex;
      gap: 10px;
      justify-content: center;
      @include bp.mobile-view {
        align-items: center;
      }

      span {
        color: c.$white-color;
        padding-top: 3px;
        @include bp.mobile-view {
          padding-top: 0;
        }
      }

      .progress {
        max-width: 230px;
        width: 100%;
        margin-top: 15px;
        background-color: c.$gray-color;
        @include bp.mobile-view {
          max-width: 230px;
          width: 100%;
          margin-top: 0;
        }

        .progress-bar {
          background-color: c.$white-color;
        }
      }
    }
  }

  .scroll-down {
    display: flex;
    width: 100%;
    position: absolute;
    left: 80px;
    bottom: 10%;
    z-index: 1;
    @include bp.tablet-view{
      left: 35px;
    }
    @include bp.mobile-view {
      bottom: 18%;
      left: 19px;
    }

    .scroll {
      display: flex;
      gap: 10px;
      font-size: 17px;

      .custom-text {
        font-family: "Barlow Condensed", sans-serif;
        color: c.$white-color;
        line-height: 25px;
        font-size: 16px;
      }

      i {
        color: c.$white-color;
        padding-top: 10px;
        display: inline-block;
        animation: upDown 1s ease-in-out infinite;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .swiper{
    .scroll-down{
      left: 50px;
    }
  }
  .swiper-container {
    height: 706px !important;

    .swiper-slide {
      height: 706px !important;

      .text {
        margin: 120px auto !important;
        max-width: 870px !important;
        padding-left: 40px !important;
        h1{
          font-size: 121px !important;
        }
      }
    }
  }
  .progressbar {
    left: 75% !important;
  }
}


@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
