<div class="swiper">
  <div class="swiper-container" #swiperContainer>
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-swiper-autoplay="6000">
        <div class="text">
          <h2>{{ 'slider.slide_1.heading_1' | translate }}</h2>
          <h1>{{ 'slider.slide_1.heading_2' | translate }}</h1>
        </div>
        <img ngSrc="assets/images/slide-images/slide-img1.webp" alt="" height="860" width="1920">
        <div class="scroll-down">
          <div class="scroll" (click)="scrollToContactForm()">
            <h3>{{ 'slider.scroll_down' | translate }}</h3>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-swiper-autoplay="6000">
        <div class="text second">
          <h2>{{ 'slider.slide_2.heading_1' | translate }}</h2>
          <h1>{{ 'slider.slide_2.heading_2' | translate }}</h1>
        </div>
        <img ngSrc="assets/images/slide-images/slide-img2.webp" alt="" height="860" width="1920">
        <div class="scroll-down">
          <div class="scroll" (click)="scrollToContactForm()">
            <h3>{{ 'slider.scroll_down' | translate }}</h3>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-swiper-autoplay="8000">
        <div class="text third">
          <h2>{{ 'slider.slide_3.heading_1' | translate }}</h2>
          <h1>{{ 'slider.slide_3.heading_2' | translate }}</h1>
        </div>
        <img ngSrc="assets/images/slide-images/slide-img3.webp" alt="" height="860" width="1920">
        <div class="scroll-down" >
          <div class="scroll" (click)="scrollToContactForm()">
            <h3>{{ 'slider.scroll_down' | translate }}</h3>
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="progressbar" #progressBar>
      <div class="progress-container">
        <span id="current-slide-number">01</span>
        <div aria-label="Example 1px high" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25"
             class="progress" role="progressbar" style="height: 3px">
          <div class="progress-bar"></div>
        </div>
        <span id="total-slide-number">02</span>
      </div>
    </div>

  </div>

</div>
