$primary-color: #121114;
$secondary-color: #FE600E;
$third-color: #F4F4F4;
$white-color: #FFFFFF;
$progress-color: #747577;

$accent-color: #8a5cc2;
$alert-color: #ff9012;
$error-color: #e11b1b;

$bg-color: #913D88;
$txt-color: #FFFFFF;
$icn-color: #FFFFFF;
