@use "../../styles/breakpoints" as bp;
@use "../../styles/colors" as c;
@use "../../styles/index";

.custom-field {
  background-image: url("../../assets/images/up-section.webp");
  background-repeat: no-repeat;
  background-size: cover;

  .c-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    @include bp.tablet-view {
      padding: 0;
      margin: 0 auto;
    }
    @include bp.mobile-view {
      padding: 0;
      margin: 0 auto;

    }

    .text {
      margin-top: 120px;
      @include bp.tablet-view{
        margin-top: 70px;
      }
      @include bp.mobile-view {
        margin-top: 50px;
      }

      h3 {
        font-family: "DM Sans", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color: c.$primary-color;
        @include bp.mobile-view {
          font-size: 13px;
        }
      }

      h1 {
        max-width: 928px;
        font-size: 57px;
        color: c.$primary-color;
        text-transform: uppercase;
        @include bp.mobile-view {
          font-size: 26px;
        }
      }
    }

    .comparison-slider-wrapper {
      position: relative;
      width: 100%;
      margin: 20px 0;
      background-color: white;

      .comparison-slider {
        position: relative;
        width: 100%;
        margin: 0;
        border: 5px white solid;
        box-sizing: border-box;
        user-select: none;

        > img {
          width: 100%;
          height: auto;
          display: block;
          user-select: none;

        }

        .overlay {
          position: absolute;
          max-width: 250px;
          width: 100%;
          bottom: 20px;
          right: 20px;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 10px;
          box-sizing: border-box;
          color: #DDD;
          text-align: right;
          @include bp.tablet-view {
            display: block;
          }
          @include bp.mobile-view {
            display: none;
          }
        }

        .resize {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 50%;
          overflow: hidden;
          user-select: none;

          > img {
            display: block;
            height: inherit;
            user-select: none;
          }

          .overlay {
            right: auto;
            left: 20px;
            text-align: left;
            user-select: none;

          }
        }

        .divider {
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: rgba(256, 256, 256, 0.2);
          left: 50%;
          top: 0;
          bottom: 0;
          margin-left: -1px;
          cursor: ew-resize;

          &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: -9px;
            top: 50%;
            margin-top: -10px;
            background-color: white;
            transform: rotate(45deg);
            transition: all 0.1s ease-in-out;
          }

          &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            left: -5px;
            top: 50%;
            margin-top: -6px;
            background-color: white;
            transform: rotate(45deg);
            transition: all 0.1s ease-in-out;
          }

          &.draggable {
            &:before {
              width: 30px;
              height: 30px;
              left: -14px;
              margin-top: -15px;
            }

            &:after {
              width: 20px;
              height: 20px;
              left: -9px;
              margin-top: -10px;
              background-color: #555;
            }
          }
        }
      }
    }

    .suppoprt-me {
      display: inline-block;
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 20vw;
      max-width: 250px;
      min-width: 200px;
      z-index: 9;

      img {
        width: 100%;
        height: auto;
      }
    }

  }
}

.c-custom-two {
  margin-top: 120px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bp.tablet-view {
    margin-top: 50px;
    padding: 0 20px;
  }
  @include bp.mobile-view {
    margin-top: 40px;
    padding: 0 12px;
  }

  .col-lg-6 {
    padding: 0 8px;
    position: relative;
    @include bp.tablet-view {
      padding: 0 12px;
    }
  }

  .left-side {
    @include bp.tablet-view {
      margin: 20px auto;
    }
  }

  .left {
    @include bp.mobile-view {
      padding: 0 4px 0 12px;
    }
  }

  .right {
    @include bp.mobile-view {
      padding: 0 12px 0 4px;
    }
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include bp.tablet-view {
      width: 100%;
    }
    @include bp.mobile-view {
      width: 280ox;
    }
  }

  .second-img {
    position: absolute;
    right: 60px;
    top: 80px;
    @include bp.tablet-view {
      top: 0;
      right: 0;
      position: relative;
      width: 100%;
      height: 100%;
    }
    @include bp.mobile-view {
      position: unset;
    }
  }

  .card-body {
    @include bp.tablet-view {
      margin-top: 20px;
    }
    @include bp.mobile-view {
      margin-top: 20px;

    }

    h1 {
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.6px;
      margin-bottom: 15px;
      @include bp.tablet-view {
        font-size: 38px;
        line-height: 42px;
        letter-spacing: -0.6px;
      }
      @include bp.mobile-view {
        max-width: 290px;
        font-size: 26px;
        line-height: 35px;
        letter-spacing: -0.6px;
      }
    }

    p {
      color: c.$gray-color;
      font-size: 18px;
      line-height: 29.16px;
      letter-spacing: 0.1px;
      @include bp.mobile-view {
        font-size: 16px;
      }
    }

  }

  .features-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .features-list li {
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.1px;
    gap: 8px;
    @include bp.tablet-view {
      line-height: 20px;
    }
    @include bp.mobile-view {
      font-size: 16px;
    }
  }

  .checkmark {
    color: #f37321;
    margin-right: 10px;
  }

  .phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0 25px 0;

    .info-number {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 30px;
      height: 30px;
    }

    p {
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      margin: 0;
      text-decoration: none;
    }
  }

  .book-now {
    max-width: 187px;
    width: 100%;
    height: 56px;
    background-color: c.$secondary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    line-height: 21px;
    letter-spacing: 1.4px;
    font-weight: 300;

    &:hover {
      background-color: rgba(0, 36, 125, 0.85);
    }

    @include bp.tablet-view {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include bp.mobile-view {
      font-size: 13px;
      max-width: 170px;
      width: 100%;
    }

  }

}


.gallery {
  max-width: 1200px;
  margin: 40px auto 40px auto;
  padding: 0 12px;

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .all:not(.fade-in) {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
  }

  .all {
    display: flex;
    @include bp.tablet-view {
      display: flex;
      flex-wrap: wrap;
    }
    @include bp.mobile-view {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    @include bp.tablet-view {
      padding-left: 10px;
    }
  }

  .nav-item {
    position: relative;
    margin-right: 15px;

    .nav-link {
      text-decoration: none;
      color: c.$primary-color;
      font-weight: 600;
      font-size: 17px;
      line-height: 25.5px;
      text-transform: uppercase;
      cursor: pointer;


      &.active::after,
      &:hover::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: c.$primary-color;
        position: absolute;
        bottom: 3px;
        left: 0;
      }

      &:not(.active)::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: c.$primary-color;
        position: absolute;
        bottom: 3px;
        left: 0;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }


  .col-lg-6,
  .col-lg-3 {
    padding: 0 8px 0 0;
    @include bp.tablet-view {
      padding: 0 8px 0 8px;
    }
  }

  .col-md-6 {
    @include bp.tablet-view {
      margin-bottom: 12px;
    }
  }

  .col-lg-4 {
    padding: 0 8px 0 0;
  }

  .col-12 {
    @include bp.mobile-view {
      padding: 0;
    }
  }

  .special {
    padding: 0 12px;
  }


  .image-container {
    position: relative;
  }

  .image-container img {
    max-width: 630px;
    width: 100%;
    height: 635px;
    object-fit: cover;
    transition: transform 0.3s ease;
    @include bp.tablet-view {
      max-width: 100%;
      height: 535px;
    }
    @include bp.mobile-view {
      max-width: 100%;
      height: 260px;
    }
  }

  .image-container:hover img {
    transform: scale(1.01);
  }

  .overlay {
    position: absolute;
    display: none;
    @include bp.tablet-view {
      display: flex;
    }
    @include bp.mobile-view {
      display: flex;
    }
  }

  .overlay.visible {
    display: block;
  }

  .overlay {
    position: absolute;
    color: white;
    pointer-events: none;
    transform: translate(10%, 0%);
    transition: transform 0.1s ease;
    white-space: nowrap;
    background-color: black;
    padding: 10px;
    @include bp.tablet-view {
      position: absolute;
      z-index: 99;
      bottom: 25px;
    }
    @include bp.mobile-view {
      position: absolute;
      z-index: 99;
      bottom: 25px;
    }
  }

  .image-container:hover .overlay {
    opacity: 1;
  }

  .right-side {
    display: flex;
    gap: 8px;

    img {
      height: 313.5px;
    }
  }

  .right-side-second {
    display: flex;
    gap: 8px;
    @include bp.tablet-view {
      gap: 0;
      margin-top: 12px;
    }

    .col-md-6 {
      @include bp.tablet-view {
        margin-bottom: 0;
        padding: 0 12px;
      }
    }

    img {
      height: 313.5px;
    }

  }
}


@media (min-width: 1024px) and (max-width: 1440px) {
  .yes {
    max-width: 935px !important;
  }

  //.image {
  //  max-width: 935px !important;
  //}
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .carousel-control-next {
    right: -4% !important;
    bottom: -50px;
    max-width: 35px !important;
  }
  .carousel-control-prev {
    left: -4% !important;
    bottom: -50px;
    max-width: 35px !important;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
  }
}
