<app-navbar></app-navbar>

<app-slider></app-slider>


<div class="container-fluid custom-field" id="work">
  <div class="container c-custom">
    <div class="text">
      <h3>{{ 'home.welcome' | translate }}</h3>
      <h1>{{ 'home.heading' | translate }}</h1>
    </div>

    <div class="comparison-slider-wrapper">
      <div class="comparison-slider">
        <div [innerHTML]="'home.overlay_after' | translate" class="overlay"></div>
        <img alt="After Image" src="/assets/images/before-after/before2.jpg">
        <div class="resize">
          <div [innerHTML]="'home.overlay_before' | translate" class="overlay"></div>
          <img alt="Before Image" class="before-img" src="/assets/images/before-after/before1.jpg">
        </div>
        <div class="divider"></div>
      </div>
    </div>

  </div>
</div>


<div class="container c-custom-two">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-12">
      <div class="left-side">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-6 left">
            <img alt="Painting" height="1172" ngSrc="assets/images/painting.jpeg" width="880">
          </div>
          <div class="col-lg-6 col-md-6 col-6 right">
            <img alt="Painting1" class="second-img" height="900" ngSrc="assets/images/painting1.jpeg" width="820">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-12">
      <div class="card-body">
        <h1>{{ 'home.fix_it' | translate }}</h1>
        <h2>{{ 'home.heading_fix' | translate }}</h2>
        <p>{{ 'home.heading_paragraph' | translate }}</p>
      </div>
      <ul class="features-list">
        <li><i class="fas fa-check checkmark"></i> {{ 'home.features_list_1' | translate }}</li>
        <li><i class="fas fa-check checkmark"></i> {{ 'home.features_list_2' | translate }}</li>
        <li><i class="fas fa-check checkmark"></i> {{ 'home.features_list_3' | translate }}</li>
      </ul>


      <div class="phone-numbers">
        <div class="info-number">
          <img src="/assets/images/ipko-icon.svg" alt="">
          <p>+383 49 491 331</p>
        </div>

        <div class="info-number">
          <img src="/assets/images/vala-icon.png" alt="">
          <p>+383 44 102 372</p>
        </div>
      </div>
      <button (click)="scrollToContactForm()" class="book-now">{{ 'home.book_now' | translate }}</button>
    </div>
  </div>
</div>


<app-contactform></app-contactform>


<div class="container gallery" id="gallery">
  <ul class="navbar-nav mb-2">
    <li (click)="setLayout('layout1')" class="nav-item">
      <button [class.active]="currentLayout === 'layout1'" class="nav-link">{{ 'painting.layout_1.paint' | translate }}</button>
    </li>
    <li (click)="setLayout('layout2')" class="nav-item">
      <button [class.active]="currentLayout === 'layout2'" class="nav-link">{{ 'painting.layout_2.paint' | translate }}</button>
    </li>
    <li (click)="setLayout('layout3')" class="nav-item">
      <button [class.active]="currentLayout === 'layout3'" class="nav-link">{{ 'painting.layout_3.paint' | translate }}</button>
    </li>
  </ul>

  <!-- Layout 1 -->
  <div *ngIf="currentLayout === 'layout1'" [ngClass]="{'fade-in': showFadeIn}" class="all">
    <div class="col-lg-6 col-md-6 col-12">
      <div (mouseleave)="onMouseLeave('desc1')" (mousemove)="onMouseMove($event, 'desc1')" class="image-container">
        <img alt="car-painting" data-text="Image 1" src="../../assets/images/gallery-first-image.webp">
        <div class="overlay" id="desc1">{{ 'painting.layout_1.img_1' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div (mouseleave)="onMouseLeave('desc2')" (mousemove)="onMouseMove($event, 'desc2')" class="image-container">
        <img alt="car-painting" src="assets/images/gallery-second-image.webp">
        <div class="overlay" id="desc2">{{ 'painting.layout_1.img_2' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-12">
      <div class="row right-side">
        <div class="col-md-12">
          <div (mouseleave)="onMouseLeave('desc3')" (mousemove)="onMouseMove($event, 'desc3')" class="image-container">
            <img alt="car-painting"  src="assets/images/gallery-third-image.webp">
            <div class="overlay" id="desc3">{{ 'painting.layout_1.img_3' | translate }}</div>
          </div>
        </div>
        <div class="col-md-12 col-12 special">
          <div (mouseleave)="onMouseLeave('desc4')" (mousemove)="onMouseMove($event, 'desc4')" class="image-container">
            <img alt="car-painting" src="assets/images/gallery-fourth-image.webp">
            <div class="overlay" id="desc4">{{ 'painting.layout_1.img_4' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Layout 2 -->
  <div *ngIf="currentLayout === 'layout2'" [ngClass]="{'fade-in': showFadeIn}" class="all">
    <div class="col-lg-6 col-md-12 col-12">
      <div (mouseleave)="onMouseLeave('desc5')" (mousemove)="onMouseMove($event, 'desc5')" class="image-container">
        <img alt="car-polishing" src="../../assets/images/galleryThird-third.webp">
        <div class="overlay" id="desc5">{{ 'painting.layout_2.img_1' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
      <div class="row right-side-second">
        <div class="col-lg-12 col-md-6">
          <div (mouseleave)="onMouseLeave('desc6')" (mousemove)="onMouseMove($event, 'desc6')" class="image-container">
            <img alt="car-polishing" src="assets/images/galleryThird-first.webp">
            <div class="overlay" id="desc6">{{ 'painting.layout_2.img_2' | translate }}</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-12 special">
          <div (mouseleave)="onMouseLeave('desc7')" (mousemove)="onMouseMove($event, 'desc7')" class="image-container">
            <img alt="car-polishing" src="assets/images/galleryThird-second.webp">
            <div class="overlay" id="desc7">{{ 'painting.layout_2.img_3' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Layout 3 -->
  <div *ngIf="currentLayout === 'layout3'" [ngClass]="{'fade-in': showFadeIn}" class="all">
    <div class="col-lg-4 col-md-6 col-12">
      <div (mouseleave)="onMouseLeave('desc8')" (mousemove)="onMouseMove($event, 'desc8')" class="image-container">
        <img alt="car-repair" height="1280" ngSrc="assets/images/gallerySecond-first.webp" width="1920">
        <div class="overlay" id="desc8">{{ 'painting.layout_3.img_1' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div (mouseleave)="onMouseLeave('desc9')" (mousemove)="onMouseMove($event, 'desc9')" class="image-container">
        <img alt="car-repair" height="1280" ngSrc="assets/images/gallerySecond-second.webp" width="1920">
        <div class="overlay" id="desc9">{{ 'painting.layout_3.img_2' | translate }}</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-12 ">
      <div (mouseleave)="onMouseLeave('desc10')" (mousemove)="onMouseMove($event, 'desc10')" class="image-container">
        <img alt="car-repair" height="1280" ngSrc="assets/images/gallerySecond-third.webp" width="1920">
        <div class="overlay" id="desc10">{{ 'painting.layout_3.img_3' | translate }}</div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
