<app-navbar></app-navbar>

<app-slider></app-slider>


<div class="container-fluid custom-field"  id="work">
  <div class="container c-custom">
    <div class="text">
      <h3>{{ 'home.welcome' | translate }}</h3>
      <h1>{{ 'home.heading' | translate }}</h1>
    </div>

<!--    <div class="container mt-5 slider-container">-->
<!--      <div class="carousel-container">-->
<!--        <div id="myCarousel" class="carousel slide">-->
<!--          <div class="carousel-inner">-->
<!--            <div-->
<!--              *ngFor="let slide of newSlide; let i = index"-->
<!--              class="carousel-item"-->
<!--              [class.active]="i === selectedSlideIndex"-->
<!--            >-->
<!--              <img [src]="slide.src"  [alt]="slide.alt" />-->
<!--            </div>-->
<!--          </div>-->
<!--          <button class="carousel-control-prev" (click)="prevSlide()" [disabled]="selectedSlideIndex === 0">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--          </button>-->
<!--          <button class="carousel-control-next" (click)="nextSlide()" [disabled]="selectedSlideIndex === slides.length - 1">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--          </button>-->
<!--        </div>-->

<!--        <div id="carousel-thumbs" class="carousel-thumbs">-->
<!--          <div class="row mx-0">-->
<!--            <div-->
<!--              *ngFor="let slide of newSlide; let i = index"-->
<!--              id="carousel-selector-{{ i }}"-->
<!--              class="thumb col-3 px-1 py-2"-->
<!--              (click)="setSlide(i)"-->
<!--              [class.selected]="i === selectedSlideIndex"-->
<!--            >-->
<!--              <img [src]="slide.src" class="img-fluid" [alt]="slide.alt" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>


<div class="container c-custom-two">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-12">
      <div class="left-side">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-6 left">
            <img ngSrc="assets/images/painting.jpeg" alt="Painting" height="1172" width="880">
          </div>
          <div class="col-lg-6 col-md-6 col-6 right">
            <img ngSrc="assets/images/painting1.jpeg" alt="Painting1" class="second-img" height="900" width="820">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-12">
      <div class="card-body">
        <h3>{{ 'home.fix_it' | translate}}</h3>
        <h1>{{ 'home.heading_fix' | translate }}</h1>
        <p>{{ 'home.heading_paragraph' | translate }}</p>
      </div>
      <ul class="features-list">
        <li><i class="fas fa-check checkmark"></i> {{ 'home.features_list_1' | translate }}</li>
        <li><i class="fas fa-check checkmark"></i> {{ 'home.features_list_2' | translate }}</li>
        <li><i class="fas fa-check checkmark"></i> {{ 'home.features_list_3' | translate }}</li>
      </ul>
      <button (click)="scrollToContactForm()" class="book-now">{{ 'home.book_now' | translate }}</button>
    </div>
  </div>
</div>


<app-contactform></app-contactform>


<div class="container gallery"  id="gallery">
  <ul class="navbar-nav mb-2">
    <li class="nav-item" (click)="setLayout('layout1')">
      <a [class.active]="currentLayout === 'layout1'" class="nav-link">{{ 'painting.layout_1.paint' | translate }}</a>
    </li>
    <li class="nav-item" (click)="setLayout('layout2')">
      <a [class.active]="currentLayout === 'layout2'" class="nav-link">{{ 'painting.layout_2.paint' | translate }}</a>
    </li>
    <li class="nav-item" (click)="setLayout('layout3')">
      <a [class.active]="currentLayout === 'layout3'" class="nav-link">{{ 'painting.layout_3.paint' | translate }}</a>
    </li>
  </ul>

  <!-- Layout 1 -->
  <div *ngIf="currentLayout === 'layout1'" class="all" [ngClass]="{'fade-in': showFadeIn}">
    <div class="col-lg-6 col-md-6 col-12">
      <div class="image-container" (mousemove)="onMouseMove($event, 'desc1')" (mouseleave)="onMouseLeave('desc1')">
        <img ngSrc="assets/images/gallery-first-image.jpeg" alt="" data-text="Image 1" height="1217" width="1920">
        <div class="overlay" id="desc1">{{'painting.layout_1.img_1' | translate}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="image-container" (mousemove)="onMouseMove($event, 'desc2')" (mouseleave)="onMouseLeave('desc2')">
        <img ngSrc="assets/images/gallery-second-image.jpeg" alt="" height="1281" width="1920">
        <div class="overlay" id="desc2">{{'painting.layout_1.img_2' | translate}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-12">
      <div class="row right-side">
        <div class="col-md-12">
          <div class="image-container" (mousemove)="onMouseMove($event, 'desc3')" (mouseleave)="onMouseLeave('desc3')">
            <img ngSrc="assets/images/gallery-third-image.jpeg" alt="" height="1280" width="1920">
            <div class="overlay" id="desc3">{{'painting.layout_1.img_3' | translate}}</div>
          </div>
        </div>
        <div class="col-md-12 col-12 special">
          <div class="image-container" (mousemove)="onMouseMove($event, 'desc4')" (mouseleave)="onMouseLeave('desc4')">
            <img ngSrc="assets/images/gallery-fourth-image.jpeg" alt="" height="1280" width="1920">
            <div class="overlay" id="desc4">{{'painting.layout_1.img_4' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Layout 2 -->
  <div *ngIf="currentLayout === 'layout2'" class="all" [ngClass]="{'fade-in': showFadeIn}">
    <div class="col-lg-6 col-md-12 col-12">
      <div class="image-container" (mousemove)="onMouseMove($event, 'desc5')" (mouseleave)="onMouseLeave('desc5')">
        <img ngSrc="assets/images/galleryThird-third.jpg" alt="" height="4723" width="7081">
        <div class="overlay" id="desc5">{{'painting.layout_2.img_1' | translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
      <div class="row right-side-second">
        <div class="col-lg-12 col-md-6">
          <div class="image-container" (mousemove)="onMouseMove($event, 'desc6')" (mouseleave)="onMouseLeave('desc6')">
            <img ngSrc="assets/images/galleryThird-first.jpg" alt="" height="1600" width="2560">
            <div class="overlay" id="desc6">{{'painting.layout_2.img_2' | translate}}</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-12 special">
          <div class="image-container" (mousemove)="onMouseMove($event, 'desc7')" (mouseleave)="onMouseLeave('desc7')">
            <img ngSrc="assets/images/galleryThird-second.jpg" alt="" height="4480" width="6720">
            <div class="overlay" id="desc7">{{'painting.layout_2.img_3' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Layout 3 -->
  <div *ngIf="currentLayout === 'layout3'" class="all" [ngClass]="{'fade-in': showFadeIn}">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="image-container" (mousemove)="onMouseMove($event, 'desc8')" (mouseleave)="onMouseLeave('desc8')">
        <img ngSrc="assets/images/gallerySecond-first.jpeg" alt="" height="1280" width="1920">
        <div class="overlay" id="desc8">{{'painting.layout_3.img_1' | translate}}</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="image-container" (mousemove)="onMouseMove($event, 'desc9')" (mouseleave)="onMouseLeave('desc9')">
        <img ngSrc="assets/images/gallerySecond-second.jpeg" alt="" height="1280" width="1920">
        <div class="overlay" id="desc9">{{'painting.layout_3.img_2' | translate}}</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-12 ">
      <div class="image-container" (mousemove)="onMouseMove($event, 'desc10')" (mouseleave)="onMouseLeave('desc10')">
        <img ngSrc="assets/images/gallerySecond-third.jpeg" alt="" height="1280" width="1920">
        <div class="overlay" id="desc10">{{'painting.layout_3.img_3' | translate}}</div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
