<div id="contact-form" class="container-fluid">
  <div class="container contact-form">
    <div class="row form-row">
      <div class="col-lg-7 col-md-12">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="card">
            <span>{{ 'contact.contact_form' | translate }}</span>
            <div class="input-container">
              <i class="fa-regular fa-user"></i>
              <input type="text" placeholder="{{'contact.name' | translate}}" formControlName="name" [ngClass]="{ 'invalid-input': contactForm.get('name')?.invalid && contactForm.get('name')?.touched }">
              <div class="border-animation"></div>
              <small class="error-message"
                     *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched">
               {{'contact.error_1' | translate}}</small>
            </div>
            <div class="input-container">
              <i class="fa-regular fa-envelope"></i>
              <input type="email" placeholder="{{'contact.email' | translate}}" formControlName="email" [ngClass]="{ 'invalid-input': contactForm.get('email')?.invalid && contactForm.get('email')?.touched }">
              <div class="border-animation"></div>
              <small class="error-message"
                     *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
                {{'contact.error_2' | translate}}</small>
            </div>
            <div class="input-container">
              <i class="fa-solid fa-pencil special"></i>
              <textarea placeholder="{{'contact.description' | translate}}" formControlName="message" id=""
                        cols="30" rows="10" [ngClass]="{ 'invalid-input': contactForm.get('message')?.invalid && contactForm.get('message')?.touched }"></textarea>
              <div class="border-animation special-s"></div>
              <small class="error-message"
                     *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched">
                {{'contact.error_3' | translate}}</small>
            </div>

            <button class="get-in-touch" type="submit">{{ 'contact.button' | translate }}</button>
          </div>
        </form>
      </div>

      <div class="col-lg-5 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1754.9997001482209!2d20.799478724352692!3d42.294304917394875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13539750df248c9b%3A0x1acce01f96e199d0!2sAuto%20Ngjyrosje%20Naseri!5e0!3m2!1sen!2s!4v1718047720348!5m2!1sen!2s" class="iframe"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
