@use "../../styles/breakpoints" as bp;
@use "../../styles/colors" as c;
@use "../../styles/index";

.navbar {
  padding: 0 50px;
  height: 122px;
  @include bp.tablet-view {
    padding: 0;
    height: 79px;
  }
  @include bp.mobile-view {
    padding: 0;
    height: 70px;
  }

  .container-fluid {
    padding: 0 16px;
    z-index: 1000;
    background-color: white;

    @include bp.mobile-view {
      padding: 0 12px;
    }

    .navbar-brand {
      @include bp.mobile-view{
        padding: 0;
      }
      img {
        width: 200px;
        border-radius: 10px;
        @include bp.tablet-view{
          height: 100px;
        }
        @include bp.mobile-view{
          width: 150px;
          object-fit: cover;
          height: 80px;
        }
      }
    }
  }

  .custom-ham {
    display: none;
    transform: scale(0.7);
    @include bp.tablet-view {
      display: flex;
    }
    @include bp.mobile-view {
      display: flex;
    }

    #checkbox {
      display: none;
    }

    .toggle {
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition-duration: .3s;
    }

    .bars {
      width: 100%;
      height: 4px;
      background-color: #121114;
      border-radius: 5px;
      transition-duration: .3s;
    }

    #checkbox:checked + .toggle .bars {
      margin-left: 13px;
    }

    #checkbox:checked + .toggle #bar2 {
      transform: rotate(135deg);
      margin-left: 0;
      transform-origin: center;
      transition-duration: .3s;
    }

    #checkbox:checked + .toggle #bar1 {
      transform: rotate(45deg);
      transition-duration: .3s;
      transform-origin: left center;
    }

    #checkbox:checked + .toggle #bar3 {
      transform: rotate(-45deg);
      transition-duration: .3s;
      transform-origin: left center;
    }
  }

  .nav-item {
    position: relative;
    margin-right: 15px;
    cursor: pointer;

    .navbar-nav {
      @include bp.mobile-view {
        padding: 0 20px;
      }
    }

    .nav-link {
      text-decoration: none;
      cursor: pointer;
      color: c.$primary-color;
      font-weight: 600;
      font-size: 17px;
      line-height: 25.5px;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: c.$primary-color;
        position: absolute;
        bottom: 3px;
        left: 0;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }

      &.active::after {
        width: 100%;
      }

      @include bp.tablet-view {
        &::after {
          display: none;
        }
      }
      @include bp.mobile-view {
        &::after {
          display: none;
        }
      }
    }
  }


  .nav-right-side {
    @include bp.tablet-view {
      align-items: flex-start;
    }
    @include bp.mobile-view {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid lightgray;
      padding-top: 10px;
    }

    .links {
      ul {
        list-style: none;
        margin-right: 10px;
        @include bp.tablet-view {
          padding-left: 0;
        }
        @include bp.mobile-view {
          padding-left: 0;
        }
      }

      .example-2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .example-2 .icon-content {
        margin: 0 10px;
        position: relative;
        @include bp.tablet-view {
          margin: 0;
        }
        @include bp.mobile-view {
          margin: 0;
        }
      }

      .example-2 .icon-content .tooltip {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: 14px;
        transition: all 0.3s ease;
      }

      .example-2 .icon-content:hover .tooltip {
        opacity: 1;
        visibility: visible;
        top: -40px;
      }

      .example-2 .icon-content a {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #4d4d4d;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
      }

      .example-2 .icon-content a:hover {
        box-shadow: 3px 2px 45px 0 rgb(0 0 0 / 12%);
      }

      .example-2 .icon-content a svg {
        position: relative;
        z-index: 1;
        width: 30px;
        height: 30px;
        @include bp.mobile-view{
          width: 22px;
          height: 22px;
        }
      }

      .example-2 .icon-content a:hover {
        color: white;
      }

      .example-2 .icon-content a .filled {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #000;
        transition: all 0.3s ease-in-out;
      }

      .example-2 .icon-content a:hover .filled {
        height: 100%;
      }

      .example-2 .icon-content a[data-social="facebook"] .filled,
      .example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
        background-color: #1877F2;
      }

      .example-2 .icon-content a[data-social="instagram"] .filled,
      .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
        background: linear-gradient(
            45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f
        );
      }
    }

    .btn-container {
      vertical-align: middle;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .btn-color-mode-switch {
      display: inline-block;
      margin: 0;
      position: relative;
    }
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }


    .btn-color-mode-switch > label.btn-color-mode-switch-inner {
      margin: 0;
      width: 140px;
      height: 40px;
      background-color: #E41B17;
      border-radius: 26px;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease;
      /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
      display: block;
    }

    .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
      content: attr(data-on);
      position: absolute;
      font-size: 20px;
      font-weight: 600;
      top: 5px;
      right: 20px;
      color: c.$white-color;
      cursor: pointer;
    }

    .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
      content: attr(data-off);
      width: 70px;
      height: 35px;
      background: #fff;
      border-radius: 26px;
      position: absolute;
      font-size: 20px;
      display: flex;
      justify-content: center;
      left: 2px;
      top: 2.5px;
      text-align: center;
      transition: all 0.3s ease;
      box-shadow: 0 0 6px -2px #111;
      padding: 2.5px 0;
      color: #222;
      font-weight: 600;
    }

    .btn-color-mode-switch input[type="checkbox"] {
      cursor: pointer;
      width: 50px;
      height: 25px;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: 1;
      margin: 0;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
      background-color: #00247D;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
      content: attr(data-on);
      left: 68px;
    }

    .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
      content: attr(data-off);
      right: auto;
      left: 20px;
    }

    .phone-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      right: 50px;
      @include bp.tablet-view {
        position: unset;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
      }

      @include bp.mobile-view {
        position: unset;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

      }

      h2 {
        cursor: pointer;
        margin-bottom: 0;
      }

      &.active::after,
      &:hover::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: c.$primary-color;
        position: absolute;
        bottom: -10px;
        left: 0;
      }

      &:not(.active)::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: c.$primary-color;
        position: absolute;
        bottom: -10px;
        left: 0;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .language-switcher {
      display: flex;
      gap: 10px;
    }

    .language-option {
      text-decoration: none;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .language-option:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .language-option.active {
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border: 1px solid c.$primary-color;
    }

    .flag {
      width: 60px;
      height: 40px;
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    gap: 40px !important;
  }
  .img-fluid {
    max-width: 90%;
  }
}
