<div class="container-fluid">
  <footer class="footer-14398">

    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <a class="footer-site-logo" href="">{{ 'footer.welcome' | translate }}</a>
          <p class="text">{{ 'footer.welcome_p' | translate }}</p>
        </div>
        <div class="col-md-3 ml-auto">
          <h3>{{ 'footer.office' | translate }}</h3>
          <ul class="list-unstyled links">
            <li><a href="">Kosova - Theranda</a></li>
            <li><a href="">Greikoc</a></li>
            <li><a href="">naserzenelagmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-3 ml-auto">
          <h3>{{ 'footer.links' | translate }}</h3>
          <ul class="list-unstyled links">
            <li><a href="">Home</a></li>
            <li><a href="">Details</a></li>
            <li><a href="">Info</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>{{ 'footer.get_in' | translate }}</h3>
          <ul class="list-unstyled links">
            <li>
              <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook" style="font-size:25px;"></i>
                Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram" style="font-size:30px;"></i>
                Insagram
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 pb-4">
          <div class="line"></div>
        </div>
        <div class="copyright col-md-6 text-md-left">
          <ul class=" list-unstyled link-menu nav-left">
            <li>{{ 'footer.all_rights' | translate }}</li>
          </ul>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-unstyled social nav-right">
            <li><a><span class="icon-twitter"></span></a></li>
            <li><a><span class="icon-instagram"></span></a></li>
            <li><a><span class="icon-facebook"></span></a></li>
            <li><a><span class="icon-pinterest"></span></a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

</div>
