@import "../../styles/breakpoints";
@import "../../styles/colors";
@import "../../styles/index";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


a {
  transition: .3s all ease;
  &, &:hover {
    text-decoration: none!important;
  }
}
.content {
  height: 70vh;
}

.container-fluid{
  margin-top: 40px;
  padding: 0;


  // Footer 4
  .footer-14398 {
    padding-top: 64px;
    padding-bottom: 10px;
    background: #000;
    color: #777;
    @include tablet-view{
      padding: 64px 12px 10px 12px;
    }
    .container{
      max-width: 1290px;
    }
    .footer-site-logo {
      color: $white-color;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 30px;
      display: block;
    }
    .text{
      color: #D6D6D6;
      font-size: 17px;
      line-height: 28.22px;
    }
    h3 {
      font-family: "Barlow Condensed", sans-serif;
      color: $white-color;
      font-size: 21px;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 20px;
      text-transform: uppercase;

    }
    .links {
      font-family: DM, sans-serif;
      li {
        font-size: 17px;
        margin-bottom: 10px;
        a {
          color: #D6D6D6;
          text-transform: uppercase;
          display: flex;
          gap: 10px;
          align-items: center;
          &:hover {
            color: $white-color;
          }
        }
      }
    }
    .link-menu {
      li {
        display: inline-block;
        a {
          color: $white-color;
          display: inline-block;
          padding: 10px;
        }
      }
      &.nav-left {
        li {
          &:first-child {
            a {
              padding-left: 0;
            }
          }
        }
      }
      &.nav-right {
        li {
          &:last-child {
            a {
              padding-left: 0;
            }
          }
        }
      }
    }
    .line {
      border-top: 1px solid rgba($white-color, .2);
    }
  }

  .copyright{
    li{
      color: #D6D6D6;
      font-size: 16px;
      line-height: 29.88px;
      font-family: DM, sans-serif;

    }
  }

  // footer 5
  .footer-59391 {
    border-top: 1px solid #efefef;
    background-color: $white-color;
    padding: 4rem 0;
    .site-logo {
      a {
        font-size: 30px;
        color: #3e64ff;
        font-weight: 900;
      }
    }

    .social {
      li {
        display: inline-block;
        position: relative;
        a {
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: inline-block;
          margin: 0;
          padding: 0;
          background-color: lighten(#ccc, 10%);
          color: darken(#ccc, 60%);
          > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            color: #3e64ff;
          }
        }
      }
    }
  }
}
