<div class="container-fluid">
  <footer class="footer-14398">

    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <a class="footer-site-logo" href="">{{ 'footer.welcome' | translate }}</a>
          <p class="text">{{ 'footer.welcome_p' | translate }}</p>
        </div>
        <div class="col-md-3 ml-auto">
          <h1>{{ 'footer.office' | translate }}</h1>
          <ul class="list-unstyled links">
            <li>Kosova - Theranda</li>
            <li>Greikoc</li>
            <li>naserzenelagmail.com</li>
            <li>+383 49 491 331</li>
            <li>+383 44 102 372</li>
          </ul>
        </div>
        <div class="col-md-3 ml-auto">
          <h1>{{ 'footer.links' | translate }}</h1>
          <ul class="list-unstyled links">
            <li *ngFor="let link of links" class="nav-item">
              <a
                [class.active]="link === 'Home'"
                [href]="'#' + link.toLowerCase()"
                class="nav-link"
              >
                {{ getTranslatedLink(link) }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h1>{{ 'footer.get_in' | translate }}</h1>
          <ul class="list-unstyled links">
            <li>
              <a href="https://www.facebook.com/profile.php?id=61571971148567" target="_blank">
                <i class="fab fa-facebook" style="font-size:25px;"></i>
                Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/autongjyrosjenaseri?igsh=bmpjMjVjcXZtZG12&utm_source=qr" target="_blank">
                <i class="fab fa-instagram" style="font-size:30px;"></i>
                Insagram
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 pb-4">
          <div class="line"></div>
        </div>
        <div class="copyright col-md-6 text-md-left">
          <ul class=" list-unstyled link-menu nav-left">
            <li>{{ 'footer.all_rights' | translate }}</li>
          </ul>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-unstyled social nav-right">
            <li><span class="icon-twitter"></span></li>
            <li><span class="icon-instagram"></span></li>
            <li><span class="icon-facebook"></span></li>
            <li><span class="icon-pinterest"></span></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

</div>
